<form action="/itemupload" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="投稿者名"><br>
  <input type="text" name="title" placeholder="題名"><br>
  <%# <input type="file" name="content" placeholder="ファイル選択"> %>
  <input type="file" name="content" placeholder="ファイル選択">
  <input type="text" name="description" placeholder="説明">
  <input type="submit" value="投稿">
</form>
